<html>
    <body>

Dear {{name}}

Thanks for requesting a test at {{labName}} at a discount, through your Edelweiss Digital OPD Policy.

We’ve received your request, and will get back soon with the confirmation.

If you need any help at all, please call us on our Toll Free number 1800 12000 or Landline 022 42312000 (call charges applicable), or email us at support@edelweissinsurance.com

Warm regards

    </body>
</html>