<html>
    <body>
Dear {{name}}

Thanks for making your payment. Your test centre visit booking , under your Edelweiss Digital OPD Policy, is confirmed.

All the best for the test – we hope the results are just perfect.

If you need any help at all, please call us on our Toll Free number 1800 12000 or Landline 022 42312000 (call charges applicable), or email us at support@edelweissinsurance.com

Warm regards

    </body>
</html>