<html>
    <body>



Dear Name

You’ve asked us to book a test centre visit through your Edelweiss Digital OPD Policy, and your booking is almost done.

All you need to do to complete the booking is click here and make your payment.

If you need any help at all, please call us on our Toll Free number 1800 12000 or Landline 022 42312000 (call charges applicable), or email us at support@edelweissinsurance.com

Warm regards

    </body>
</html>