<html>
    <body>

Dear {{name}}

Thanks for visiting the lab and getting your test done through your Edelweiss Digital OPD Policy.

The result will definitely come to your registered email ID within 72 hours, although of course we’ll try to make it sooner.

If you need any help at all, please call us on our Toll Free number 1800 12000 or Landline 022 42312000 (call charges applicable), or email us at support@edelweissinsurance.com

Warm regards
    </body>
</html>